@font-face {
    font-family: 'pug';
    src: url('../../../assets/fonts/I_Love_Pugs.ttf');
}

#header{
    width: auto;
    height: 800px;
    background-image: url('../../../assets/images/pug1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1{
        font-family: 'pug';
        font-size: 25rem;
        color: rgb(41, 36, 36);
        z-index: 0;
        position: relative;
    }

    article{
        height: 900px;
    }

    video{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

#galery{
    background-color: #c2be9e;
    margin-top: 150px;

    h1{
        font-family: 'pug';
        font-size: 8rem;
        color: rgb(41, 38, 38);
    }

    img{
        width: 600px;
    }
}

@media (max-width: 991px){
    video{
        display: none;
    }
}


@media (max-width: 991px){
    h1{
        font-size: 10rem !important;
    }
}

